$color__500: rgba(3,23,40,0.94);
$color__400: rgba(3,23,40,0.78);
$color__300: rgba(3,23,40,0.64);
$color__200: rgba(3,23,40,0.34);
$color__100: rgba(3,23,40,0.24);
$color__50: rgba(3,23,40,0.14);
$color__chewy-blue: #128CED;
$color__price: #D0011B;

$font__weight--extra-bold: 600;
$font__weight--bold: 500;
$font__weight--light: 300;

$font__size--xxl: 36px;
$font__size--xl: 28px;
$font__size--l: 22px;
$font__size--m: 18px;
$font__size--s: 16px;
$font__size--xs: 13px;
$font__size--xxs: 11px;

$margin--xxl: 64px;
$margin--xl: 48px;
$margin--l: 34px;
$margin--m: 24px;
$margin--s: 16px;
$margin--xs: 8px;

$easeInOutCubic: 0.645, 0.045, 0.355, 1;